.staffHeader{
    display: flex;
    .staffDetails{
        width: 100vw;
        margin: 0 15px;
        span{
            font-weight: bold;
            width: 100px;
            display: inline-block;
        }
        .report{
            margin-left: 50px;
            
        }
    }
}