.homePage{
    background-image: url('../../images/welcome.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 250px;
    margin: 0 auto;
    a{
        font-size: 3em;
        position: fixed;
        top: 45vh;
        text-shadow: #333 -2px -2px 0px;
    }
}